//Valeur d’une variable attribuée à une autre variable

$typekit-green: #99cc00;
$typekit-link-color: $typekit-green;

a {
	color: $typekit-link-color;
}

// Exemple de mixin :

$couleur-surlignage: #ffa;

@mixin texte-surligne-gras {
	background-color: $couleur-surlignage;
	font-weight: bold;
}

.resultat-surligne {
	span {
		@include texte-surligne-gras;
	}
}
